@charset "ulf-8";

body{
    background-color: rgb(202, 160, 241);
    background-image: url(img/bg.png);
    background-repeat: repeat-x;
    color: rgb(27, 75, 75);
    margin:0px;
    }
h1{
color: rgb(255, 255, 255);
width: 300px;
margin: 40px auto;
padding: 30px;
border: 5px solid red;
background-color: rgb(52, 240, 177);
font-size: 300%;
line-height: 1;
}

main {
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0px auto;
    padding: 40px 80px;
    border:1px solid #f6bb9e;
}

h2{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted rgb(27, 75, 75);
    border-left: 10px solid rgb(144, 90, 194);
    color:rgb(196, 177, 152)
}

.round{
    border-radius: 50%;
}
h1,header,nav,footer{
    text-align: center;
}
.div_text_shadow
{
text-shadow: 2px 2px 3px #333333;
}